body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
}

.stopwatch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Increased height */
    width: 400px;  /* Decreased width */
    background-color: pink;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 20px;
    border-radius: 15px;
}

.rectangle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    padding: 20px 0;
}

#display {
    font-size: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button {
    background-color: #a64d99;
    border: none;
    color: rgb(250, 250, 250);
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buttons button:hover {
    background-color: #000000;
}

.buttons button:focus {
    outline: none;
}

#lapsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
}

#lapsList li {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
